.content {
    display: flex;
    justify-content: space-between;
}
.content__mapItem {
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
}
.content__left {
    width: 22%;
}
.content__filter {
    background-color: #fff;
    padding:10px;
    border-radius: 4px;
    box-shadow: #000 0px 1px 2px;
}
.content__filter-top {
    display: flex;
    justify-content: space-between;
}
.content__filter-title {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
.content__filter-btn {
    border:none;
    background-color: transparent;
}
.content__filter-items {
    list-style: none;

}
.content__filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
/* The container */
.content__filter-label {
    display: flex;
    position: relative;
    padding-left: 35px;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: capitalize;
  }
  
  /* Hide the browser's default checkbox */
  .content__filter-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border-radius: 4px;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* On mouse-over, add a grey background color */
  .content__filter-label:hover {
    color: #2196F3;
  }
  .content__filter-label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .content__filter-label input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .content__filter-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .content__filter-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.content__filter-count {
    float:right;
    font-size: 13px;
}
.content__right {
    width: 75%;
}
#sort {
  padding: 4px 8px;
  text-transform: capitalize;
  outline: none;
}
.sort__label {
  text-transform: capitalize;
}

.product__item.product__item--4 {
  width: calc(25% - 6px);
}
/* pagination */
.pagination__list {
  margin:10px;
  list-style: none;
  display: flex;
}
.pagination__btn {
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 4px 8px;
  text-transform:capitalize;
  border:none;
  cursor: pointer;
  font-weight: 500;
  transition: all linear 0.2s;
  background-color: #fff;
}
.pagination__btn:hover {
  transform:scale(1.2)
} 
.pagination__btn.disble:hover {
  transform:scale(1)
}
.pagination__btn.disble {
  color: #dbdbdb !important;
  cursor:none;
}
.pagination__btn.active {
  background:linear-gradient(45deg,#ff0076,#590fb7);
}
/* .pagination__btn.run {
  color: blue;
} */
.pagination__page:first-child .pagination__btn{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: blue;
}
.pagination__page:last-child .pagination__btn{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: blue;
}
.btn__sort{
  background-color: #000;
  border: 1px solid #000;
  width:45px;
  height:45px;
  color: #fff;
  border-radius: 4px;
  display: none;
}
.btn__sort > i {
  font-size: 30px;
}
.sort__open {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  bottom: 0;
  z-index: 999999;
  animation: navMobileIn linear .3s 1 forwards;
}
.sort__open-out {
  animation: navMobileOut linear .3s 1 forwards;
}
@keyframes navMobileIn {
  from {
     transform: translateX(-100%);
     opacity: 0;
  }
  to {
     transform: translateX(0);
     opacity:1;
  }
}
@keyframes navMobileOut {
  from {
     transform: translateX(0);
     opacity:1;
  }
  to {
     transform: translateX(-120%);
     opacity: 0;
  }
}
.sort__open::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
}
.btn__sort-close {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  color: #000;
}
.btn__sort-close > i {
  font-size: 40px;
}

@media only screen and (max-width: 992px) {
  .content__left {
    display: none;
  }
  .content__right {
    width:100%;
  }
  .product__item.product__item--4 {
    width: calc(33% - 6px);
  }
  .sneaker__top{
    align-items: flex-end;
  }
  .accordion {
    margin-top: 70px;
  }
  .btn__sort {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
 
}
