/* content */
.content {
    background-color: #dbdbdb;
    height: auto;
    padding:10px 0px;
}
.banner__wrapper {
    height: auto;
    position: relative;
}
.banner__wrapper img {
    width: 100%;
    display: block;
}
/* action */
.banner__action,
.product__action {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    opacity: 0;
}
.banner__action:hover,
.product__action:hover {
    opacity: 1;
}
.banner__btns,
.product__btns {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
}
.banner__btn,
.product__btn {
    position: absolute;
    border: none;
    background-color: transparent;
}
.banner__btn > i,
.product__btn > i {
    font-size: 30px;
    color:#fff;
}
#btn__next--hover,
#btn__productNext--hover,
#btn__jewelryNext--hover,
#btn__perfumeNext--hover {
    height: 0px;
    right: 10px;
    overflow: hidden;
    z-index: -1;
}
#btn__prev--hover,
#btn__productPrev--hover,
#btn__jewelryPrev--hover,
#btn__perfumePrev--hover {
    height: 0px;
    left: 10px;
    overflow: hidden;
    z-index: -1;
}
.product__btn--hover > i,
.banner__btn--hover > i{
    color:#000;
}
.btn--hover {
    z-index: 2 !important;
    height: 30px !important;
    transition: all linear 0.5s;
}
#btn__next,
#btn__productNext,
#btn__jewelryNext,
#btn__perfumeNext {
    right: 10px;
}
#btn__prev,
#btn__productPrev,
#btn__jewelryPrev,
#btn__perfumePrev {
    left: 10px;
}
.banner__dots,
.product__dots {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.banner__dot,
.product__dot {
    border-radius: 50%;
    border: none;
    width: 10px;
    height: 10px;
    background-color: aqua;
    margin-left: 5px;
}
@keyframes bannerBtn {
    to {
        height: 30px;
    }
}

/* product */
.product {
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    height: auto;
}
.product__action {
    height: auto;
}
.product__title {
    display: flex;
}
.product__list {
    position: relative;
}
.product__type {
    color:#fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight:700;
}
.product__type--black {
    color: #000;
}
.product__type > img {
    width: 20px;
    height: 20px;
}
.product__countdown {
    list-style: none;
    display: flex;
}
.product__countdown > li {
    background-color: #fff;
    border-radius: 8px;
    margin-right: 8px;
    text-transform: capitalize;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
}
.product__countdown > li > span {
    font-weight: 500;
}
.product__items {
    padding: 0px 30px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.product__items--nopadding {
    padding: 0;
    flex-wrap: wrap;
}
.product__item {
    width: calc((100% - 48px)/5);
    background-color: #fff;
    padding:5px;
    border-radius:8px;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.btn.btn-search-hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:none;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 3;
    display: none;
}
.btn.btn-search-hidden > i {
    color: #fff;
}
.product__itemImg {
    position: relative;
    border: 2px solid rgb(6,123,233);
    border-radius : 4px;
    padding-top: 100%;
    width: 100%;
    
}
.product__itemImg:hover #img-hidden {
    z-index: 1;
    visibility: inherit;
}
.product__itemImg:hover #img-visible {
    z-index: 0;
    visibility: hidden;
}
.product__itemImg:hover .btn-search-hidden {
    display: block;
}
.product__itemImg  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
#img-hidden {
    z-index: 0;
    visibility: hidden;
}
#img-visible {
    z-index: 1;
}
.product__sale {
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 27px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgb(255,0,0);
    color:#fff;
    font-size: 12px;
    z-index: 2;
}
.product__sale::after {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    content: "";
    width:0px;
    height:0px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 10px solid #ff0000;
}
/* btn add */
.product__btnAdds {
   display: flex;
   flex-direction: row-reverse;
   position: absolute;
   bottom: 2px;
   right: 2px;
   text-transform: capitalize;
   background-color: transparent;
   justify-content: center;
   align-items: center;
   border-radius: 12px;
    color: transparent;
    border: none;
    transition:all linear .3s;
    width:32px;
    height:32px;
    overflow: hidden;
    border: none;
    z-index: 2;
}
.product__btnAdd {
    border: none;
    background-color: rgb(40,138,214);
    color: #fff;
    padding: 4px 6px;
    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
}
.product__btnAdds:hover {
    background-color: rgb(40,138,214);
    color:#fff;
    padding-right: 30px;
    width: 90%;
}
.product__btnAdds:hover .product__btnAdd {
    color: rgb(40,138,214);
    background-color: #fff;
    margin-left: 10px;
}
/* detail */
.product__name {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    line-height: 18px;
    padding-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* star */
.product__evaluates {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.product__prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__price--sale {
    color: #e70303;
    font-weight: 600;
    margin-right: 10px;
    
}
.product__price--cost {
    font-size: 13px;
    font-weight: 500;
    color: #888888;
    text-decoration: line-through;
}
/* btn all */
.product__btnAll {
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 500;
}
.product__btnAll:hover {
    background-color: #dbdbdb;
    box-shadow: #000 0px 1px 4px;
    color: red;
}
/* sneaker */
.sneaker {
    margin-top: 30px;
    padding-bottom: 15px;
}
.sneaker__top {
    display:flex;
    justify-content : space-between;
    align-items: center;
    margin-bottom: 10px;
}
.sneaker__types {
    display:flex;
    list-style: none;
    align-items: center;

}
.sneaker__type-item {
    padding: 5px 8px;
    text-transform: uppercase;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 8px;
    background-color:transparent;
    margin-right: 8px;
    color: #000;
    font-weight: 400;
}
.sneaker__type-item--active {
    color:#fff;
    background-color: rgb(40,138,214);
    border-color: rgb(40,138,214);
}
/* banner bottom */
.bannerBottom {
    position: relative;
    overflow: hidden;
}
.bannerBottom__line {
    position: absolute;
    display: block;
    width: 50px;
    height:285%;
    bottom: -94%;
    left:-400px;
    background-color: rgba(255,255,255,0.4);
    z-index: 10;
    transform: rotate(45deg);
}
.bannerBottom:hover .bannerBottom__line {
    animation: linePlay linear 1 0.75s;
}
@keyframes linePlay {
    to {
        left: 150%;
    }
    
}
.bannerBottom > img {
   
    width: 100%;
    border-radius: 4px;
    z-index: 9;
}
/* ------- */
.accessory {
    display: flex;
    justify-content: space-between;
}
.accessory__item {
    width: calc(50% - 10px);
    margin-top: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
}
.accessory__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__type--accessory {
    position: relative;
    padding: 10px;
}
.product__type--accessory::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 4px;
    height: 100%;
    border-radius: 8px;
    background-color: #000;
}
.accessory__bottom {
    display: flex;
}
.accessory__left {
    width: 35%;
}
.accessory__left > img {
    width: 100%;
}
.accessory__right {
    width: 65%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.product__item--accessory {
    height: 90%;
    padding: 0px 20px;
}
.product__item--2 {
    width: calc(50% - 10px);
}
.product__item--2 .product__btnAddText {
    font-size: 10px;
}